@font-face {
    font-family: "harry-potter";
    src: url(./tipography/harrypotter-ov4z-webfont.woff);
}
@font-face {
    font-family: "harry-potter";
    src: url(./tipography/harrypotter-ov4z-webfont.woff2);
}

:root {
    /*colors*/
    --primary-color: #8A4FFF;
    --secondary-color: #C3BEF7;
    --terziary-color: #EFFFFA;
    /*border*/
    --border-main: 1px solid black;
    --border-tycker: 3px solid black;
    /*sizing*/
    --sizing-standard: 16px;
    --sizing-small: 8px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    font-family: "harry-potter", Georgia, Times, 'Times New Roman', serif;
    margin:0;
    min-height: 100%;
    text-align: center;
}

nav {
    background-color: var(--primary-color);
    border: var(--border-tycker);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: var(--sizing-standard);
}

input {
    border: var(--border-tycker);
    border-radius: var(--sizing-standard);
    max-width: 100px;
}

button {
    background-color: var(--terziary-color);
    border: var(--border-tycker);
    border-radius: var(--sizing-standard);
    font-family: "harry-potter", Georgia, Times, 'Times New Roman', serif;
    font-size: calc(1rem + 1vw);
    padding: var(--sizing-small);
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

section {
    flex-grow: 1;
}

.grid-container {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 10%;
}

.grid-item {
    max-width: 200px;
    padding: var(--sizing-standard);
}

img {
    max-height: auto;
    max-width: 120px;
}

img:hover{
    transform: scale(1.1);
}

h1 {
    font-size: calc(1.5rem + 1.2vw);
    font-style: italic;
}

h3 {
    font-size: calc(1rem + 1vw);
    font-style: italic;
}


footer {
    background-color: var(--primary-color);
    border: var(--border-tycker);
}

@media screen and (min-width: 720px) {

    .grid-container {
        gap: 8px;
        grid-template-columns: repeat(3, 1fr);
        margin: 5%;
    }

    .grid-item {
        max-width: none;
    }

    img {
        max-height: auto;
        max-width: 220px;
    }
}

@media screen and (min-width: 1100px) {

    .grid-container {
        gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        margin: 3%;
    }

    img {
        max-height: auto;
        max-width: 240px;
    }
}