:root {
    --primary-color: #8A4FFF;
    --secondary-color: #C3BEF7;
    --terziary-color: #EFFFFA;
    --border-main: 1px solid black;
    --border-tycker: 3px solid black;
    --sizing-standard: 16px;
    --sizing-small: 8px;
}
* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100%;
    margin:0;
    text-align: center;
}
nav {
    background-color: var(--primary-color);
    border: var(--border-tycker);
    border-radius: var(--sizing-standard);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    padding: var(--sizing-standard);
}
input {
    border: var(--border-tycker);
    border-radius: var(--sizing-standard);
    max-width: 100px;
}
button {
    border: var(--border-tycker);
    border-radius: var(--sizing-standard);
    background-color: var(--terziary-color);
    padding: var(--sizing-small);
}


section {
    flex-grow: 1;
}

.grid-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 10%;
    gap: 3px;
}

.grid-item {
    
}

img {
    max-width: 120px;
    max-height: auto;
}

img:hover{
    transform: scale(1.1);
}

h3 {
    font-size: calc(1rem + 1vw);
    font-style: italic;
}


footer {
    background-color: var(--primary-color);
    border: var(--border-tycker);
    border-radius: var(--sizing-standard);
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (min-width: 700px) {

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
    img {
        max-width: 220px;
        max-height: auto;
    }
    
}

@media screen and (min-width: 1000px) {

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }
    img {
        max-width: 240px;
        max-height: auto;
    }
    
}